<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Memories.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <Memories.MySettings>
            <setting name="MediaRootFolder" serializeAs="String">
                <value>I:\Camera</value>
            </setting>
            <setting name="MaxMediaPlayers" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PlayerWidth" serializeAs="String">
                <value>960</value>
            </setting>
        </Memories.MySettings>
    </applicationSettings>
</configuration>
